.App {
  text-align: center;
}

.logo-image {
  border-radius: 50px;
  display: inline-block;
  text-align: start;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
