.App {
  text-align: center;
}

.container {
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.title-background {
  /* background-image: url("./images/white-brush-stroke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.title-background h1 {
  color: #ececec;
  font-size: 2em;
}

.main {
}

.app-footer {
  text-align: center;
  margin: 30px 0;
}
