@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

body {
  margin: 0;
  font-family: 'Fasthand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e5d4ba;
  background-color: #aebaae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
